Repository sandialabs/pyGSTi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @tjproct, @rileyjmurray, @adhumu, @sandialabs/pygsti-ibmq, @kevincyoung, @sandialabs/pygsti-mcm, @kmrudin, @sandialabs/pygsti-rb, @pcwysoc, @sandialabs/pygsti-tutorials

smarter unittest decorators
  test/unit/util.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

make it possible to control __SCALAR_TOL__ in the fidelty function by setting a module-level variable
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

try-catch for more robust model copying
  pygsti/models/model.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

guard to prevent silent errors during deserialization
  pygsti/modelmembers/modelmembergraph.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

revise ExplicitOpModel.randomize_with_unitary so that users have the option of preserving parameterization. I set the default to False, since this seems to be needed for existing germ selection tests.
  pygsti/models/explicitmodel.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

add a guard in _create_explicit_model_from_expressions to ensure that if the model is serialized then it can be deserialized correctly.
  pygsti/models/modelconstruction.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

change error checking so we only raise an error if we actually observe a collision that puts correctness at risk
  pygsti/modelmembers/modelmembergraph.py
  pygsti/models/modelconstruction.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-maintainers

Fixed some problems with fogv labels, now fogi tests are passing locally
  pygsti/models/fogistore.py
  pygsti/tools/fogitools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

bugfix in circuit parsing from string. Discovered the underlying bug when (de)serializing a model with gate labels like `GCNOT` and `GIX`"
  pygsti/circuits/circuitparser/fastcircuitparser.pyx
  pygsti/circuits/circuitparser/slowcircuitparser.py
  pygsti/models/modelconstruction.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Hacks for big error gens on SPAM
  pygsti/modelmembers/operations/composederrorgen.py
  pygsti/modelmembers/operations/embeddederrorgen.py
  pygsti/modelmembers/povms/composedpovm.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

add some circuitlist generation utilities for model locking
  pygsti/protocols/locking.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

less invasive change to implementation of ExplicitOpModel.copy(). Changes needed for test_gaugeopt_correctness.
  pygsti/algorithms/gaugeopt.py
  pygsti/models/model.py
  pygsti/tools/optools.py
  test/unit/algorithms/test_gaugeopt_correctness.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

type annotation and comment fix
  pygsti/drivers/longsequence.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

revert seemingly unnecessary change to copalayout.py (in the context of a TypeError from CircuitOutcomeProbabilityArrayLayout.indices_and_outcomes_for_index)
  pygsti/layouts/copalayout.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

remove unused variable
  pygsti/layouts/copalayout.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

add type annotation and fix now-obvious bug in CircuitOutcomeProbabilityArrayLayout.__iter__ (needed to convert slice to iterable)
  pygsti/layouts/copalayout.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Replace earlier change of try-catch in Model.copy() to a change in ModelMember.relink_parent(). Replace changes to circuitparser files with changes to test_explicit_model.py
  pygsti/circuits/circuitparser/fastcircuitparser.pyx
  pygsti/circuits/circuitparser/slowcircuitparser.py
  pygsti/modelmembers/modelmember.py
  pygsti/models/explicitmodel.py
  pygsti/models/model.py
  test/unit/objects/test_explicitmodel.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

should have applied in last commit
  pygsti/circuits/circuitparser/fastcircuitparser.pyx
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

remove function that I now define in individual experiment files
  pygsti/data/datasetconstruction.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

remove unused imports
  pygsti/data/datasetconstruction.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

fix identified by Nick in https://github.com/sandialabs/pyGSTi/pull/649/files#r2341510676
  pygsti/report/section/summary.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

remove commented-out code
  pygsti/report/workspaceplots.py
Owners: @pcwysoc, @sandialabs/pygsti-gatekeepers

removed unneeded checking of QubitSpaces and various other optimizations to make huge models
  pygsti/baseobjs/qubitgraph.py
  pygsti/baseobjs/statespace.py
  pygsti/evotypes/stabilizer/opreps.pyx
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

example notebook
  jupyter_notebooks/Examples/Robust-GST.ipynb
Owners: @sandialabs/pygsti-tutorials, @sandialabs/pygsti-gatekeepers

Add tqdm as a proper dependency
  pyproject.toml
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Update requirements.txt
  requirements.txt
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Revert "Add `tqdm` as a proper dependency"
  pyproject.toml
  requirements.txt
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Patches for LGST with kite models
  pygsti/algorithms/core.py
  pygsti/modelmembers/states/densestate.py
  pygsti/models/model.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Temporarily turn off LGST gauge selection
  pygsti/algorithms/core.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

tqdm dependency
  pyproject.toml
  requirements.txt
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

resolve 651, 600, and add appropriate test
  pygsti/modelmembers/modelmember.py
  test/unit/modelmembers/test_operation.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

have test_report.py::test_notebook actually run the notebooks it generates. Make changes to get that test to pass.
  pygsti/report/report.py
  pygsti/report/templates/report_notebook/gauge_variant.txt
  pygsti/report/workspacetables.py
  test/test_packages/report/test_report.py
  test/test_packages/testutils/__init__.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @pcwysoc, @rileyjmurray

commented-out code showing how to make Label NicelySerializable
  pygsti/baseobjs/label.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

more changes needed for Estimate.write(...) to work
  pygsti/io/metadir.py
  pygsti/protocols/estimate.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

changes to write_notebook needed for tests to pass after enabling JSON serialization (as opposed to pickling, which was used up until this commit)
  pygsti/report/report.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

alternative fix for Estimate.write. Committing the alternative without removing the previous fix just for now.
  pygsti/io/metadir.py
  pygsti/protocols/estimate.py
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

revert changes from original solution to Estimate.write bug
  pygsti/baseobjs/label.py
  pygsti/circuits/circuit.py
  pygsti/io/metadir.py
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

finish reverting changes in metadir.py
  pygsti/io/metadir.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

remove unused import
  pygsti/protocols/estimate.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

left out of previous commits
  test/test_packages/testutils/notebooks.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

.github/CODEOWNERS:

## Global owners (default to pyGSTi maintainers) ##
# These will also be owners for everything below
# so they can approve minor PRs without adding
# undue burden on volunteer code owners
*       @sandialabs/pygsti-maintainers @sandialabs/pygsti-gatekeepers


## Drift analysis ##
pygsti/protocols/stability.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/section/drift.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/templates/drift_html_report/ @tjproct @sandialabs/pygsti-gatekeepers

## Forward simulators ##
pygsti/forwardsims @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/forwardsims/termforwardsim* @adhumu @sandialabs/pygsti-gatekeepers

## IBMQ interface ##
pygsti/extras/devices @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
pygsti/extras/ibmq @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers

## Interpygate ##
pygsti/extras/interpygate/ @kevincyoung @sandialabs/pygsti-gatekeepers

## Modelmembers ##
pygsti/modelmembers/ @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/modelmembers/instruments/ @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers

## Modelpack owners ##
pygsti/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers

## Optimizer owners ##
pygsti/objectivefns @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/optimize @rileyjmurray @sandialabs/pygsti-gatekeepers

## RB owners ##
pygsti/algorithms/compilers.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/mirroring.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/rbfit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/protocols/rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtheory.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtools.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

## RPE owners ##
pygsti/extras/rpe @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/models/rpemodel.py @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/protocols/rpe.py @kmrudin @sandialabs/pygsti-gatekeepers

## Reporting owners ##
# Specifically just for workspace plots/tables
pygsti/report/workspace*.py @pcwysoc @sandialabs/pygsti-gatekeepers



## Tutorial owners ##
# In addition to general tutorial owners,
# we will also have specific tutorials be owned
# by topics owners are responsible for above
jupyter_notebooks/ @sandialabs/pygsti-tutorials @sandialabs/pygsti-gatekeepers
jupyter_notebooks/**/*RB-*.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/DriftCharacterization.ipynb @tjproct @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/MirrorCircuitBenchmarks.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/RobustPhaseEstimation.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/IBMQExperiment.ipynb @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/InterpolatedOperators.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/ModelPacks.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/reporting/ @pcwysoc @sandialabs/pygsti-gatekeepers

## Test owners ##
test/ @rileyjmurray @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_drift.py @tjproct @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_interpygate.py @kevincyoung @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpe.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpeobjects.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/objects/test_instruments.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/test_packages/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/test_packages/reportb/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/algorithms/test_randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/interpygate @kevincyoung @sandialabs/pygsti-gatekeepers
test/unit/extras/rb/ @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/rpe/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/objects/test_instrument.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/unit/protocols/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/tools/test_symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
