Repository sandialabs/pyGSTi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @tjproct, @rileyjmurray, @adhumu, @sandialabs/pygsti-ibmq, @kevincyoung, @sandialabs/pygsti-mcm, @kmrudin, @sandialabs/pygsti-rb, @pcwysoc, @sandialabs/pygsti-tutorials

.github/CODEOWNERS:

## Global owners (default to pyGSTi maintainers) ##
# These will also be owners for everything below
# so they can approve minor PRs without adding
# undue burden on volunteer code owners
*       @sandialabs/pygsti-maintainers @sandialabs/pygsti-gatekeepers


## Drift analysis ##
pygsti/protocols/stability.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/section/drift.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/templates/drift_html_report/ @tjproct @sandialabs/pygsti-gatekeepers

## Forward simulators ##
pygsti/forwardsims @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/forwardsims/termforwardsim* @adhumu @sandialabs/pygsti-gatekeepers

## IBMQ interface ##
pygsti/extras/devices @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
pygsti/extras/ibmq @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers

## Interpygate ##
pygsti/extras/interpygate/ @kevincyoung @sandialabs/pygsti-gatekeepers

## Modelmembers ##
pygsti/modelmembers/ @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/modelmembers/instruments/ @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers

## Modelpack owners ##
pygsti/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers

## Optimizer owners ##
pygsti/objectivefns @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/optimize @rileyjmurray @sandialabs/pygsti-gatekeepers

## RB owners ##
pygsti/algorithms/compilers.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/mirroring.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/rbfit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/protocols/rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtheory.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtools.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

## RPE owners ##
pygsti/extras/rpe @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/models/rpemodel.py @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/protocols/rpe.py @kmrudin @sandialabs/pygsti-gatekeepers

## Reporting owners ##
# Specifically just for workspace plots/tables
pygsti/report/workspace*.py @pcwysoc @sandialabs/pygsti-gatekeepers



## Tutorial owners ##
# In addition to general tutorial owners,
# we will also have specific tutorials be owned
# by topics owners are responsible for above
jupyter_notebooks/ @sandialabs/pygsti-tutorials @sandialabs/pygsti-gatekeepers
jupyter_notebooks/**/*RB-*.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/DriftCharacterization.ipynb @tjproct @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/MirrorCircuitBenchmarks.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/RobustPhaseEstimation.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/IBMQExperiment.ipynb @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/InterpolatedOperators.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/ModelPacks.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/reporting/ @pcwysoc @sandialabs/pygsti-gatekeepers

## Test owners ##
test/ @rileyjmurray @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_drift.py @tjproct @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_interpygate.py @kevincyoung @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpe.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpeobjects.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/objects/test_instruments.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/test_packages/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/test_packages/reportb/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/algorithms/test_randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/interpygate @kevincyoung @sandialabs/pygsti-gatekeepers
test/unit/extras/rb/ @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/rpe/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/objects/test_instrument.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/unit/protocols/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/tools/test_symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

unravel ungodly nested expressions and catch pyGSTiDeprecationWarning for test that calls deprecated method
  test/unit/protocols/test_vb.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

SuccessFailSimulator derives from ForwardSimulator so the model in a ForwardSimulator may derive from just Model and not OpModel.
  pygsti/forwardsims/forwardsim.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

address invalid escape sequence in docstring
  pygsti/tools/mcfetools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fixed typos
  pygsti/forwardsims/forwardsim.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

add custom PrepareThyself warning that can be issued in POVM conversion. Fix W605 invalid escape sequence errors. Change flake8 config to catch such errors.
  .flake8
  pygsti/extras/paritybenchmarking/disturbancecalc.py
  pygsti/modelmembers/povms/__init__.py
  pygsti/tools/errgenproptools.py
  pygsti/tools/exceptions.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

have test/unit/util.py::BaseCase.temp_path `with TemporaryDirectory` context include ignore_cleanup_errors=True, so that we dont get ResourceWarnings stemming from just infrastructure alone.
  test/unit/util.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Add more type annotations for opfactories.
  pygsti/baseobjs/statespace.py
  pygsti/evotypes/evotype.py
  pygsti/modelmembers/modelmember.py
  pygsti/modelmembers/operations/opfactory.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Add type annotations.
  pygsti/models/model.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Remove unnecessary changes.
  test/unit/extras/ibmq/test_ibmqexperiment.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Fix some typos.
  pygsti/optimize/optimize.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

add UnknownGaugeSpaceDimension warning that can be logged in Model.num_modeltest_params
  pygsti/models/model.py
  pygsti/tools/exceptions.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

filter warning in test_customcg.py
  test/unit/optimize/test_customcg.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

complex to real casting
  pygsti/modelmembers/operations/fullarbitraryop.py
  pygsti/tools/lindbladtools.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-maintainers

filter optimal-inaccurate messages from CVXPY and log new CVXPYFailure warning as needed
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

do not call np.sum on a generator
  pygsti/tools/rbtheory.py
Owners: @sandialabs/pygsti-rb, @sandialabs/pygsti-gatekeepers

use pyGSTiDeprecationWarning in writers.py::write_model
  pygsti/io/writers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

create and make use of OverparameterizationWarning
  pygsti/protocols/estimate.py
  pygsti/report/plothelpers.py
  pygsti/tools/likelihoodfns.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

left out of last commit (includes implementation of OverparameterizationWarning)
  pygsti/tools/exceptions.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

make use of new UnnamedReportWarning class
  pygsti/report/autotitle.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

make use of new UnnamedReportWarning class
  pygsti/extras/idletomography/idtreport.py
  pygsti/report/factory.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

fix ndarray-float conversion
  pygsti/protocols/confidenceregionfactory.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

fix bug introduced in earlier commit
  test/test_packages/objects/test_hessian.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

improve needs_otherpackagename decorators (for cvxpy and deep). Add a new such decorator for csaps. Apply the needs_csaps decorator to tests defined in test_packages/extras/test_interpygate.py
  test/test_packages/extras/test_interpygate.py
  test/unit/util.py
Owners: @kevincyoung, @sandialabs/pygsti-gatekeepers, @rileyjmurray

use preferred accessor to get gate from a model
  test/unit/algorithms/test_gaugeopt_correctness.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

remove patched_uuid context manager, only added for Python 3.7
  pygsti/baseobjs/_compatibility.py
  pygsti/data/dataset.py
  test/test_packages/objects/test_gatesets.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

set environment variable
  .github/workflows/reuseable-main.yml
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

python 3.9 fix
  test/unit/util.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Log warning if adding a confidence region factory for a model whose number of parameters differs from that of `final iteration estimate`.
  pygsti/protocols/estimate.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Do not expect any output to the terminal when running MPI.
  test/unit/mpi/run_me_with_mpiexec.py
  test/unit/mpi/test_mpi.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Add some more type annotations for circuit.py
  pygsti/circuits/circuit.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

prep for review
  .gitignore
  pygsti/tools/locking.py
  wip_notebook_sharing/README.md
  wip_notebook_sharing/case0-gst-with-outliers.ipynb
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

polish changes to GSTObjFnBuilders and ObjectiveFunctionBuilder
  pygsti/objectivefns/objectivefns.py
  pygsti/protocols/gst.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-maintainers

polish locking.py for review
  pygsti/tools/locking.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Add type annotation for Circuit construction.
  pygsti/circuits/circuit.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

implement zero_freq_dterms for RawTVDFunction and RawAbsPower. Change RawAbsPower so that it scales by 1/power (affects LpNormToPowerP).
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Fix imports and remove excess blankspaces.
  pygsti/circuits/circuit.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

reduce code duplication in TimeIndependentMDCObjectiveFunction and TermWeighted
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

actually use new __SCALAR_TOL_EXPONENT__ constant
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

remove pointless exception handling
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

type annotation
  pygsti/models/explicitmodel.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers
