Repository sandialabs/pyGSTi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @tjproct, @rileyjmurray, @adhumu, @sandialabs/pygsti-ibmq, @kevincyoung, @sandialabs/pygsti-mcm, @kmrudin, @sandialabs/pygsti-rb, @pcwysoc, @sandialabs/pygsti-tutorials

.github/CODEOWNERS:

## Global owners (default to pyGSTi maintainers) ##
# These will also be owners for everything below
# so they can approve minor PRs without adding
# undue burden on volunteer code owners
*       @sandialabs/pygsti-maintainers @sandialabs/pygsti-gatekeepers


## Drift analysis ##
pygsti/protocols/stability.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/section/drift.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/templates/drift_html_report/ @tjproct @sandialabs/pygsti-gatekeepers

## Forward simulators ##
pygsti/forwardsims @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/forwardsims/termforwardsim* @adhumu @sandialabs/pygsti-gatekeepers

## IBMQ interface ##
pygsti/extras/devices @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
pygsti/extras/ibmq @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers

## Interpygate ##
pygsti/extras/interpygate/ @kevincyoung @sandialabs/pygsti-gatekeepers

## Modelmembers ##
pygsti/modelmembers/ @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/modelmembers/instruments/ @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers

## Modelpack owners ##
pygsti/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers

## Optimizer owners ##
pygsti/objectivefns @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/optimize @rileyjmurray @sandialabs/pygsti-gatekeepers

## RB owners ##
pygsti/algorithms/compilers.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/mirroring.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/rbfit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/protocols/rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtheory.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtools.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

## RPE owners ##
pygsti/extras/rpe @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/models/rpemodel.py @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/protocols/rpe.py @kmrudin @sandialabs/pygsti-gatekeepers

## Reporting owners ##
# Specifically just for workspace plots/tables
pygsti/report/workspace*.py @pcwysoc @sandialabs/pygsti-gatekeepers



## Tutorial owners ##
# In addition to general tutorial owners,
# we will also have specific tutorials be owned
# by topics owners are responsible for above
jupyter_notebooks/ @sandialabs/pygsti-tutorials @sandialabs/pygsti-gatekeepers
jupyter_notebooks/**/*RB-*.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/DriftCharacterization.ipynb @tjproct @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/MirrorCircuitBenchmarks.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/RobustPhaseEstimation.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/IBMQExperiment.ipynb @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/InterpolatedOperators.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/ModelPacks.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/reporting/ @pcwysoc @sandialabs/pygsti-gatekeepers

## Test owners ##
test/ @rileyjmurray @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_drift.py @tjproct @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_interpygate.py @kevincyoung @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpe.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpeobjects.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/objects/test_instruments.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/test_packages/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/test_packages/reportb/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/algorithms/test_randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/interpygate @kevincyoung @sandialabs/pygsti-gatekeepers
test/unit/extras/rb/ @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/rpe/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/objects/test_instrument.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/unit/protocols/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/tools/test_symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

log warning messages if parent of Estimate is inconsistent with `self` in ModelEstimateResults.add_estimate[s]
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

use silent_steal kwarg
  test/unit/objects/test_results.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

update example notebook
  jupyter_notebooks/Examples/Robust-GST.ipynb
Owners: @sandialabs/pygsti-tutorials, @sandialabs/pygsti-gatekeepers

successful qubit+qutrit leakage model!
  jupyter_notebooks/Examples/Leakage-automagic-2Q.ipynb
  pygsti/baseobjs/basis.py
  pygsti/report/reportables.py
  pygsti/tools/jamiolkowski.py
  pygsti/tools/leakage.py
Owners: @sandialabs/pygsti-tutorials, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-maintainers

clean up example notebook
  jupyter_notebooks/Examples/Leakage-automagic-2Q.ipynb
Owners: @sandialabs/pygsti-tutorials, @sandialabs/pygsti-gatekeepers

adding debug statements for norm in H recomp
  pygsti/algorithms/modelselection.py
  pygsti/tools/fogitools.py
  test/unit/objects/test_fogi.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Correct the test case
  pygsti/circuits/circuit.py
  pygsti/tools/warningtools.py
  test/unit/objects/test_circuit.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

temporary changes for local MPI runs
  pygsti/optimize/customsolve.py
  pygsti/optimize/simplerlm.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

add run_mpi_unsafe method
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

improvements for two-qudit leakage modeling
  pygsti/protocols/gst.py
  pygsti/tools/leakage.py
  pygsti/tools/sdptools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

bugfix for order-of-evaluation problem
  pygsti/tools/leakage.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Interpygate example: add import for csaps and replace log with logm
  jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb
Owners: @kevincyoung, @sandialabs/pygsti-gatekeepers

small bugfix to AMS
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

small changes for some data collection on HPC
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

small change to collect more data on HPC
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Add recommended updates and use the compile flag -O3 -fopenmp.
  pygsti/tools/fasterrgencalc.pyx
  setup.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

successful report generation for qubit-qutrit model
  pygsti/modelmembers/operations/embeddedop.py
  pygsti/models/explicitmodel.py
  pygsti/tools/leakage.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-maintainers

fix CP penalties for gates and non-psd penalties for states and POVM effects. Confirmed reasonable results on a test case from Juan.
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

have objectivefns.py::_spam_penalty iterate over POVM effects in the exact same way as objectivefns.py::_spam_penalty_jac_fill
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

started doing some changes for CPTP AMS
  pygsti/algorithms/modelselection.py
  pygsti/modelmembers/states/__init__.py
  pygsti/models/model.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

initial code dump
  pygsti/extras/dem_construction/__init__.py
  pygsti/extras/dem_construction/dem_estimation.py
  pygsti/extras/dem_construction/dem_tools.py
  pygsti/extras/dem_construction/helper_functions.py
  pygsti/extras/dem_construction/logical_tools.py
  pygsti/extras/dem_construction/pygsti_object_builders.py
  pygsti/extras/dem_construction/sensitivity_analysis.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

fix copy-paste error
  test/unit/util.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

clean up Model.num_modeltest_params. Create new ExplicitOpModel.num_modeltest_params, which is cleaner than old Model.num_modeltest_params. Make use of a new warning class.
  pygsti/models/explicitmodel.py
  pygsti/models/model.py
  pygsti/models/modelnoise.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Interpygate example: add import for csaps and replace log with logm (#704)
  jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb
Owners: @kevincyoung, @sandialabs/pygsti-gatekeepers

Leakage modeling: confidence intervals and more robust gauge optimization (#699)
  pygsti/protocols/confidenceregionfactory.py
  pygsti/protocols/estimate.py
  pygsti/report/factory.py
  pygsti/tools/leakage.py
  test/unit/tools/test_leakage_gst_pipeline.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

address comments in my review, https://github.com/sandialabs/pyGSTi/pull/643#pullrequestreview-3693958270
  pygsti/circuits/circuit.py
  pygsti/evotypes/evotype.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

add the option of turning off the sqrt in lsvec for cptp_penalty and spam_penalty
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Comment back in autosummary
  docs/api.rst
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

rerefactor of elementary_errorgen_indices
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

left out of last commit
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

(essentially trivial) re-refactor of _block_data_indices
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

re-refactor of _block_data_to_params
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

re-refactor from_vector
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

re-refactor of deriv_wrt_params
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

re-refactor of superop_deriv_wrt_params
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

re-refactor of superop_hessian_wrt_params
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

left out of last commit
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

move function definition for clearer git diff
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

fix
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

change type aliases
  pygsti/circuits/circuit.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers
