Repository sandialabs/pyGSTi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @tjproct, @rileyjmurray, @adhumu, @sandialabs/pygsti-ibmq, @kevincyoung, @sandialabs/pygsti-mcm, @kmrudin, @sandialabs/pygsti-rb, @pcwysoc, @sandialabs/pygsti-tutorials

.github/CODEOWNERS:

## Global owners (default to pyGSTi maintainers) ##
# These will also be owners for everything below
# so they can approve minor PRs without adding
# undue burden on volunteer code owners
*       @sandialabs/pygsti-maintainers @sandialabs/pygsti-gatekeepers


## Drift analysis ##
pygsti/protocols/stability.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/section/drift.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/templates/drift_html_report/ @tjproct @sandialabs/pygsti-gatekeepers

## Forward simulators ##
pygsti/forwardsims @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/forwardsims/termforwardsim* @adhumu @sandialabs/pygsti-gatekeepers

## IBMQ interface ##
pygsti/extras/devices @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
pygsti/extras/ibmq @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers

## Interpygate ##
pygsti/extras/interpygate/ @kevincyoung @sandialabs/pygsti-gatekeepers

## Modelmembers ##
pygsti/modelmembers/ @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/modelmembers/instruments/ @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers

## Modelpack owners ##
pygsti/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers

## Optimizer owners ##
pygsti/objectivefns @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/optimize @rileyjmurray @sandialabs/pygsti-gatekeepers

## RB owners ##
pygsti/algorithms/compilers.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/mirroring.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/rbfit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/protocols/rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtheory.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtools.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

## RPE owners ##
pygsti/extras/rpe @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/models/rpemodel.py @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/protocols/rpe.py @kmrudin @sandialabs/pygsti-gatekeepers

## Reporting owners ##
# Specifically just for workspace plots/tables
pygsti/report/workspace*.py @pcwysoc @sandialabs/pygsti-gatekeepers



## Tutorial owners ##
# In addition to general tutorial owners,
# we will also have specific tutorials be owned
# by topics owners are responsible for above
jupyter_notebooks/ @sandialabs/pygsti-tutorials @sandialabs/pygsti-gatekeepers
jupyter_notebooks/**/*RB-*.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/DriftCharacterization.ipynb @tjproct @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/MirrorCircuitBenchmarks.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/RobustPhaseEstimation.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/IBMQExperiment.ipynb @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/InterpolatedOperators.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/ModelPacks.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/reporting/ @pcwysoc @sandialabs/pygsti-gatekeepers

## Test owners ##
test/ @rileyjmurray @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_drift.py @tjproct @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_interpygate.py @kevincyoung @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpe.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpeobjects.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/objects/test_instruments.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/test_packages/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/test_packages/reportb/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/algorithms/test_randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/interpygate @kevincyoung @sandialabs/pygsti-gatekeepers
test/unit/extras/rb/ @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/rpe/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/objects/test_instrument.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/unit/protocols/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/tools/test_symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

Fix typo spotted by linter
  pygsti/tools/errgenproptools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Rename bsqale to scarab and update changelog; resolve circular import issue
  CHANGELOG
  pygsti/protocols/__init__.py
  pygsti/protocols/scarab.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Deal with underflow issue
  pygsti/tools/errgenproptools.py
  pygsti/tools/fasterrgencalc.pyx
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Removed serialized FOGI models for 1Q, added Hessian correctness tests, and fixed AMS checkpoint bug
  pygsti/algorithms/modelselection.py
  pygsti/modelpacks/_modelpack.py
  pygsti/modelpacks/serialized_fogi_models/generate_fogi_models.ipynb
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XYI_FOGI-GLND.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XYZI_FOGI-GLND.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XY_FOGI-GLND.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XZ_FOGI-GLND.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_ZN_FOGI-GLND.json
  pygsti/modelpacks/smq1Q_XY.py
  pygsti/modelpacks/smq1Q_XYI.py
  pygsti/modelpacks/smq1Q_XYZI.py
  pygsti/modelpacks/smq1Q_XZ.py
  pygsti/modelpacks/smq1Q_ZN.py
  pygsti/tools/modelselectiontools.py
  test/unit/tools/test_likelihoodfns.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @kmrudin, @rileyjmurray

Update of Scalable Benchmarking Tool Name (B-Sqale -> scarab) (#685)
  CHANGELOG
  pygsti/protocols/__init__.py
  pygsti/protocols/scarab.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Added hessian correctness tests and average out finite errors
  pygsti/objectivefns/objectivefns.py
  test/unit/tools/test_likelihoodfns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Update of Scalable Benchmarking Tool Name (B-Sqale -> scarab) (#685) (Manual Develop Merge) (#686)
  CHANGELOG
  pygsti/protocols/__init__.py
  pygsti/protocols/scarab.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Update function signatures
  pygsti/tools/errgenproptools.py
  test/unit/tools/test_errgenproptools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Fixed hessian averaging
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

fix attempt #3
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

changed unwanted zeroing in parallel GST
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

changed obj function for AMS
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

AMS bugfix
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

testing something on the HPC
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Found a way to obtain GST obj function without running GST
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

use broadcasting
  pygsti/algorithms/contract.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

correct accidental sign change
  pygsti/tools/jamiolkowski.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

type annotation
  pygsti/tools/matrixtools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Add typing and DRY
  pygsti/algorithms/germselection.py
  test/unit/algorithms/test_germselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Add __future__.annotations import
  pygsti/algorithms/germselection.py
  test/unit/algorithms/test_germselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Make better use of context when calling eig vs eigh (#677)
  pygsti/algorithms/contract.py
  pygsti/modelmembers/operations/eigpdenseop.py
  pygsti/modelmembers/operations/fullcptpop.py
  pygsti/modelmembers/states/cptpstate.py
  pygsti/models/explicitmodel.py
  pygsti/models/qutrit.py
  pygsti/optimize/wildcardopt.py
  pygsti/report/reportables.py
  pygsti/report/workspacetables.py
  pygsti/tools/jamiolkowski.py
  pygsti/tools/matrixtools.py
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray, @pcwysoc

Fix ValueError in Drift Report generation caused by incorrect Plotly syntax
  pygsti/extras/drift/driftreport.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Miscellaneous Bugfixes
  pygsti/algorithms/fiducialpairreduction.py
  pygsti/modelmembers/operations/lindbladerrorgen.py
  pygsti/models/gaugegroup.py
  pygsti/optimize/customsolve.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

modified GST to be able to take multiple optimizers
  pygsti/algorithms/core.py
  pygsti/algorithms/modelselection.py
  pygsti/protocols/gst.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Modified GST run to take list of optimizers for each iteration
  pygsti/algorithms/core.py
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

bugfixes. First working example of optimizers with GST
  pygsti/algorithms/core.py
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

one more bugfix
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

bugfix, unit tests passing
  pygsti/algorithms/core.py
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

small bugfix
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Created unit test for new optimizer list feature for iterative_gst_generator
  test/unit/algorithms/test_core.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Update instance check for sparse arrays
  pygsti/modelmembers/operations/lindbladerrorgen.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

added unit tests for all the new optimizer changes.
  pygsti/protocols/gst.py
  test/unit/protocols/test_gst.py
  test_packages/temp_test_files/test_GateSetTomography_serialization/badfit_options.json
  test_packages/temp_test_files/test_GateSetTomography_serialization/gaugeopt_suite.json
  test_packages/temp_test_files/test_GateSetTomography_serialization/initial_model.json
  test_packages/temp_test_files/test_GateSetTomography_serialization/meta.json
  test_packages/temp_test_files/test_GateSetTomography_serialization/objfn_builders.json
  test_packages/temp_test_files/test_GateSetTomography_serialization/optimizer.json
  test_packages/temp_test_files/test_StandardGateSetTomography_serialization/badfit_options.json
  test_packages/temp_test_files/test_StandardGateSetTomography_serialization/gaugeopt_suite.json
  test_packages/temp_test_files/test_StandardGateSetTomography_serialization/meta.json
  test_packages/temp_test_files/test_StandardGateSetTomography_serialization/optimizer.json
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Try unpinning the version of sphinx
  doc/conf.py
  rtd-requirements.txt
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Added type annotations
  pygsti/algorithms/core.py
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Small type annotation bugfix
  pygsti/algorithms/core.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fix ReadTheDocs Build Failure (#691)
  doc/conf.py
  rtd-requirements.txt
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Update changelog for 0.9.14.3
  CHANGELOG
  README.md
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Also check for spare matrices
  pygsti/modelmembers/operations/lindbladerrorgen.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Added tests suggested by @nkoskelo
  pygsti/algorithms/core.py
  pygsti/protocols/gst.py
  test/unit/algorithms/test_core.py
  test/unit/protocols/test_gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Deleted temp files
  test_packages/temp_test_files/test_GateSetTomography_serialization/badfit_options.json
  test_packages/temp_test_files/test_GateSetTomography_serialization/gaugeopt_suite.json
  test_packages/temp_test_files/test_GateSetTomography_serialization/initial_model.json
  test_packages/temp_test_files/test_GateSetTomography_serialization/meta.json
  test_packages/temp_test_files/test_GateSetTomography_serialization/objfn_builders.json
  test_packages/temp_test_files/test_GateSetTomography_serialization/optimizer.json
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers
