Repository sandialabs/pyGSTi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @tjproct, @rileyjmurray, @adhumu, @sandialabs/pygsti-ibmq, @kevincyoung, @sandialabs/pygsti-mcm, @kmrudin, @sandialabs/pygsti-rb, @pcwysoc, @sandialabs/pygsti-tutorials

.github/CODEOWNERS:

## Global owners (default to pyGSTi maintainers) ##
# These will also be owners for everything below
# so they can approve minor PRs without adding
# undue burden on volunteer code owners
*       @sandialabs/pygsti-maintainers @sandialabs/pygsti-gatekeepers


## Drift analysis ##
pygsti/protocols/stability.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/section/drift.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/templates/drift_html_report/ @tjproct @sandialabs/pygsti-gatekeepers

## Forward simulators ##
pygsti/forwardsims @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/forwardsims/termforwardsim* @adhumu @sandialabs/pygsti-gatekeepers

## IBMQ interface ##
pygsti/extras/devices @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
pygsti/extras/ibmq @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers

## Interpygate ##
pygsti/extras/interpygate/ @kevincyoung @sandialabs/pygsti-gatekeepers

## Modelmembers ##
pygsti/modelmembers/ @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/modelmembers/instruments/ @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers

## Modelpack owners ##
pygsti/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers

## Optimizer owners ##
pygsti/objectivefns @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/optimize @rileyjmurray @sandialabs/pygsti-gatekeepers

## RB owners ##
pygsti/algorithms/compilers.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/mirroring.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/rbfit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/protocols/rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtheory.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtools.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

## RPE owners ##
pygsti/extras/rpe @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/models/rpemodel.py @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/protocols/rpe.py @kmrudin @sandialabs/pygsti-gatekeepers

## Reporting owners ##
# Specifically just for workspace plots/tables
pygsti/report/workspace*.py @pcwysoc @sandialabs/pygsti-gatekeepers



## Tutorial owners ##
# In addition to general tutorial owners,
# we will also have specific tutorials be owned
# by topics owners are responsible for above
jupyter_notebooks/ @sandialabs/pygsti-tutorials @sandialabs/pygsti-gatekeepers
jupyter_notebooks/**/*RB-*.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/DriftCharacterization.ipynb @tjproct @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/MirrorCircuitBenchmarks.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/RobustPhaseEstimation.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/IBMQExperiment.ipynb @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/InterpolatedOperators.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/ModelPacks.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/reporting/ @pcwysoc @sandialabs/pygsti-gatekeepers

## Test owners ##
test/ @rileyjmurray @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_drift.py @tjproct @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_interpygate.py @kevincyoung @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpe.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpeobjects.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/objects/test_instruments.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/test_packages/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/test_packages/reportb/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/algorithms/test_randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/interpygate @kevincyoung @sandialabs/pygsti-gatekeepers
test/unit/extras/rb/ @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/rpe/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/objects/test_instrument.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/unit/protocols/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/tools/test_symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

argument validation for construct_standard_report
  pygsti/report/factory.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

update construct_leakage_report so that it can handle error bars
  pygsti/tools/leakage.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

correct typo
  pygsti/tools/leakage.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

drop unnecessary NotImplementedError in favor of acceptable base class implementation
  pygsti/modelmembers/instruments/cptpinstrument.py
Owners: @sandialabs/pygsti-mcm, @sandialabs/pygsti-gatekeepers

bugfix for MPI communicators
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

AMS checkpoint bugfixes
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Reverting to what I think is the correct snipper method
  pygsti/extras/ml/encoding.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Reverting to what I think is the correct snipper method
  pygsti/extras/ml/encoding.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Reverting to what I think is the correct snipper method
  pygsti/extras/ml/encoding.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Reverting to what I think is the correct snipper method
  pygsti/extras/ml/encoding.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

AMS checkpoint bugfix
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

...
  pygsti/extras/ml/snippers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Put initialization values back to previous version
  pygsti/extras/ml/qpanns.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

....
  pygsti/extras/ml/snippers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Have finally confirmed that the convenient I think is correct does give better QPANN performance
  pygsti/extras/ml/snippers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Trying out a linear activation function
  pygsti/extras/ml/qpanns.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Changing where the squaring of s parameters occurs
  pygsti/extras/ml/qpanns.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Changing where the squaring of s parameters occurs
  pygsti/extras/ml/encoding.py
  pygsti/extras/ml/qpanns.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fixed small bug
  pygsti/extras/ml/encoding.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fixed small bug
  pygsti/extras/ml/qpanns.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

skip Hessian calculations for Estimate objects labeled "Target".
  pygsti/tools/leakage.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

small communicator bugfix
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

brought back exact AMS
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

keeping checkpoints for now
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Final updates before winter shutdown, probably
  pygsti/extras/ml/qpanns.py
  pygsti/extras/ml/snippers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Final updates before winter shutdown, probably
  pygsti/extras/ml/encoding.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

exact AMS seems to be working now
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

small checkpoint bugfix and implemented ams summary table
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

split out block_type branching from LindbladCoefficientBlock.create_lindblad_term_objects
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

partially splits out block_type branching from LindbladCoefficientBlock.reate_lindblad_term_superoperators
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

splits out block_type branching from LindbladCoefficientBlock.num_params
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

splits out block_type branching from LindbladCoefficientBlock.block_data_indices
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

splits out block_type branching from LindbladCoefficientBlock.elementary_errorgen_indices
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

splits out block_type branching from LindbladCoefficientBlock.coefficient_labels
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

rename InvalidParamMode to InvalidParamModeError
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

splits out block_type branching from LindbladCoefficientBlock.param_labels
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

splits out block_type branching from LindbladCoefficientBlock._block_data_to_params
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

splits out block_type branching from LindbladCoefficientBlock.from_vector
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

splits out block_type branching from LindbladCoefficientBlock.deriv_wrt_params
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

readability
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers
