Repository sandialabs/pyGSTi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @tjproct, @rileyjmurray, @adhumu, @sandialabs/pygsti-ibmq, @kevincyoung, @sandialabs/pygsti-mcm, @kmrudin, @sandialabs/pygsti-rb, @pcwysoc, @sandialabs/pygsti-tutorials

make nbformat dependency explicit
  optional-requirements.txt
  pyproject.toml
  requirements.txt
  rtd-requirements.txt
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

resolve comment https://github.com/sandialabs/pyGSTi/pull/658/files#r2379751641
  pygsti/protocols/estimate.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

initial simplification of wildcard budget code in gst.py
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

remove unused code
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Add a new penalty term for gates
  pygsti/algorithms/germselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Clean up style in reportables.py. Move some leakage metric definitions from reportables.py into pygsti/tools/leakage.py. Bugfix for qubit label assumption in leaky_qubit_model_from_pspec.
  pygsti/report/reportables.py
  pygsti/tools/leakage.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Safeguards for ModelMember.parent and ModelMember.is_equivalent (#657)
  pygsti/modelmembers/modelmember.py
  test/unit/modelmembers/test_operation.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Enhancements and bugfixes in Report.write_notebook (#658)
  optional-requirements.txt
  pygsti/baseobjs/label.py
  pygsti/circuits/circuit.py
  pygsti/protocols/estimate.py
  pygsti/report/report.py
  pygsti/report/templates/report_notebook/gauge_variant.txt
  pygsti/report/workspacetables.py
  pyproject.toml
  requirements.txt
  rtd-requirements.txt
  test/test_packages/report/test_report.py
  test/test_packages/testutils/__init__.py
  test/test_packages/testutils/notebooks.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @pcwysoc, @rileyjmurray

JupyterBook skeleton
  .gitignore
  docs/_config.yml
  docs/_templates/custom-class-template.rst
  docs/_templates/custom-module-template.rst
  docs/_toc.yml
  docs/api.rst
  docs/intro.md
  docs/jupytext.toml
  docs/markdown/FAQ.md
  docs/markdown/intro2.md
  docs/markdown/intro3.md
  docs/pyGSTi_icon_wht.png
  docs/references.bib
  docs/requirements.txt
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

High-level tutorials migrated
  docs/_toc.yml
  docs/api.rst
  docs/markdown/intro.md
  docs/markdown/intro2.md
  docs/markdown/intro3.md
  docs/markdown/overview/00-Protocols.md
  docs/markdown/overview/01-Essential-Objects.md
  docs/markdown/overview/02-Using-Essential-Objects.md
  docs/markdown/overview/FAQ.md
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fix a shared memory bug in lsvec
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

change the function in StatelessModel where torch tensors are moved to the GPU
  pygsti/forwardsims/torchfwdsim.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Shared Memory Bug (#660)
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

fix mathematical bug in definition of subspace-restricted Frobenius norm
  pygsti/modelmembers/operations/linearop.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

make note of possible changes to eigenvalue_entanglement_infidelity
  pygsti/report/reportables.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

seems to fix diamond-distance wildcard with leakage models. Still need to write tests.
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

define proper constants (either module-level or class-level) that hold the values of what are currently magic numbers hard-coded to 1e-4.
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Fixes a bug in DataSet count retrieval and adds unit tests.
  pygsti/data/dataset.py
  test/unit/objects/test_dataset.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Adds try/except blocks so LocalNoiseModels (maybe all implicit?) can be used in germ selection.
  pygsti/algorithms/fiducialpairreduction.py
  pygsti/algorithms/germselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

add a second stage to leakage-aware gauge optimization
  pygsti/algorithms/gaugeopt.py
  pygsti/protocols/gst.py
  pygsti/tools/leakage.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

make note of idea without making half-baked changes to code
  pygsti/report/reportables.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Replaces set_all_parameterizations('static') calls in FPR.
  pygsti/algorithms/fiducialpairreduction.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fixes a bug in DataSet count retrieval and adds unit tests. (#663) (Develop Merge) (#665)
  pygsti/data/dataset.py
  test/unit/objects/test_dataset.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Add new option for penalizing gates in germ selection
  pygsti/algorithms/germselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

More gate penalty updates, and new unit tests
  pygsti/algorithms/germselection.py
  test/unit/algorithms/test_germselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Fix new unit tests
  test/unit/algorithms/test_germselection.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

implement fully-general gate_leakage_profile and gate_seepage_profile functions. Rename subspace_projector to superop_subspace_projector.
  pygsti/algorithms/gaugeopt.py
  pygsti/baseobjs/basisconstructors.py
  pygsti/protocols/gst.py
  pygsti/tools/leakage.py
  pygsti/tools/matrixtools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

test for matrix_tools.py:is_projector. Use np.linalg.matrix_rank in leakage.py, rather than home-brewing an equivalent function.
  pygsti/baseobjs/basisconstructors.py
  pygsti/tools/leakage.py
  pygsti/tools/matrixtools.py
  test/unit/tools/test_matrixtools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

correct errors in recent changes to fidelity-based gauge optimization
  pygsti/algorithms/gaugeopt.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

ADD ML
  pygsti/extras/ml/__init__.py
  pygsti/extras/ml/encoding.py
  pygsti/extras/ml/modeltools.py
  pygsti/extras/ml/newneuralnets.py
  pygsti/extras/ml/newtools.py
  pygsti/extras/ml/tools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Updates try/except AttributeError with isinstance tests to be more explicit.
  pygsti/algorithms/fiducialpairreduction.py
  pygsti/algorithms/germselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

README updates for docs
  README.md
  docs/_config.yml
  rtd-requirements.txt
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

heavy refactor of gaugeopt_to_target as entry point for gauge optimization
  pygsti/algorithms/gaugeopt.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

tweaks in last commit`s refactor of gaugeopt_to_target
  pygsti/algorithms/gaugeopt.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

small fogi serialization bugfix, plus lots of code for fogi lattices that is not meant to stay
  pygsti/algorithms/modelselection.py
  pygsti/models/fogistore.py
  pygsti/models/model.py
  pygsti/tools/fogitools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Shared Memory Bug (#660)
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

remove leftover comments and debugging lines
  pygsti/report/reportables.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

add missing square in definition of eigenvalue fidelity
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

fix ridiculous default argument inserted by autocomplete during change to type annotations
  pygsti/tools/sdptools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

streamlined
  pygsti/algorithms/core.py
  pygsti/algorithms/gaugeopt.py
  pygsti/baseobjs/basis.py
  pygsti/protocols/gst.py
  pygsti/report/factory.py
  pygsti/report/reportables.py
  pygsti/report/section/gauge.py
  pygsti/report/section/summary.py
  pygsti/tools/leakage.py
  pygsti/tools/matrixtools.py
  pygsti/tools/sdptools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

.github/CODEOWNERS:

## Global owners (default to pyGSTi maintainers) ##
# These will also be owners for everything below
# so they can approve minor PRs without adding
# undue burden on volunteer code owners
*       @sandialabs/pygsti-maintainers @sandialabs/pygsti-gatekeepers


## Drift analysis ##
pygsti/protocols/stability.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/section/drift.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/templates/drift_html_report/ @tjproct @sandialabs/pygsti-gatekeepers

## Forward simulators ##
pygsti/forwardsims @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/forwardsims/termforwardsim* @adhumu @sandialabs/pygsti-gatekeepers

## IBMQ interface ##
pygsti/extras/devices @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
pygsti/extras/ibmq @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers

## Interpygate ##
pygsti/extras/interpygate/ @kevincyoung @sandialabs/pygsti-gatekeepers

## Modelmembers ##
pygsti/modelmembers/ @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/modelmembers/instruments/ @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers

## Modelpack owners ##
pygsti/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers

## Optimizer owners ##
pygsti/objectivefns @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/optimize @rileyjmurray @sandialabs/pygsti-gatekeepers

## RB owners ##
pygsti/algorithms/compilers.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/mirroring.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/rbfit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/protocols/rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtheory.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtools.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

## RPE owners ##
pygsti/extras/rpe @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/models/rpemodel.py @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/protocols/rpe.py @kmrudin @sandialabs/pygsti-gatekeepers

## Reporting owners ##
# Specifically just for workspace plots/tables
pygsti/report/workspace*.py @pcwysoc @sandialabs/pygsti-gatekeepers



## Tutorial owners ##
# In addition to general tutorial owners,
# we will also have specific tutorials be owned
# by topics owners are responsible for above
jupyter_notebooks/ @sandialabs/pygsti-tutorials @sandialabs/pygsti-gatekeepers
jupyter_notebooks/**/*RB-*.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/DriftCharacterization.ipynb @tjproct @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/MirrorCircuitBenchmarks.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/RobustPhaseEstimation.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/IBMQExperiment.ipynb @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/InterpolatedOperators.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/ModelPacks.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/reporting/ @pcwysoc @sandialabs/pygsti-gatekeepers

## Test owners ##
test/ @rileyjmurray @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_drift.py @tjproct @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_interpygate.py @kevincyoung @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpe.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpeobjects.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/objects/test_instruments.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/test_packages/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/test_packages/reportb/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/algorithms/test_randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/interpygate @kevincyoung @sandialabs/pygsti-gatekeepers
test/unit/extras/rb/ @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/rpe/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/objects/test_instrument.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/unit/protocols/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/tools/test_symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
