Repository sandialabs/pyGSTi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @tjproct, @rileyjmurray, @adhumu, @sandialabs/pygsti-ibmq, @kevincyoung, @sandialabs/pygsti-mcm, @kmrudin, @sandialabs/pygsti-rb, @pcwysoc, @sandialabs/pygsti-tutorials

docstring
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

splits out block_type branching from LindbladCoefficientBlock.superop_deriv_wrt_params; apply input checking in caller function LindbladErrorgen.deriv_wrt_params.
  pygsti/modelmembers/operations/lindbladcoefficients.py
  pygsti/modelmembers/operations/lindbladerrorgen.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

splits out block_type branching from LindbladCoefficientBlock.superop_hessian_wrt_params
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

fix bugs introduced during refactoring
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

make unittest-skipping decorators smarter
  test/unit/util.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

re-refactor of create_lindblad_term_objects; this time use non-LLM VSCode refactoring tool
  pygsti/modelmembers/operations/lindbladcoefficients.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

updated projector->embedder notation and removed seed transfer in fast AMS
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
  test/unit/algorithms/test_modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

add missing square in squared-norm; use np.linalg.norm instead of np.linalg.dot(x,x)
  pygsti/optimize/arraysinterface.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

remove commented-out asserts
  pygsti/optimize/simplerlm.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

small embedder bugfix
  pygsti/models/modelparaminterposer.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

not committing new result class yet
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

small embedder bugfix
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

handle use_gpu=True on apple silicon
  pygsti/forwardsims/torchfwdsim.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

another small bugfix
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Add IBMQExperiment support for mid-circuit measurements and variable set of measured device qubits
  pygsti/circuits/circuit.py
  pygsti/extras/ibmq/ibmqexperiment.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-ibmq

Bugfixes; add unit tests for different circuit conversion pathways and mid-circuit measurements
  pygsti/circuits/circuit.py
  pygsti/extras/ibmq/ibmqexperiment.py
  test/unit/extras/ibmq/test_ibmqexperiment.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-ibmq, @rileyjmurray

Added AMS results object. Seems to be working
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Update modelselectiontools.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

small checkpoint bugfix
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

improved result class, found bug in set all paramaterization
  pygsti/algorithms/modelselection.py
  pygsti/modelmembers/states/__init__.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

improved set all param optimization search
  pygsti/modelmembers/povms/__init__.py
  pygsti/modelmembers/states/__init__.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Fix bug in StateSpace
  pygsti/baseobjs/statespace.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

mpi benchmarking
  temporary_demos/.gitignore
  temporary_demos/MPI-dprobs.ipynb
  temporary_demos/mpi_files/.keep
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

use 2-qubit model rather than 1-qubit model
  temporary_demos/MPI-dprobs.ipynb
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Update resize_std_mx to support vectors
  pygsti/tools/basistools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Use np.einsum instead of np.linalg.multi_dot
  test/unit/modelmembers/test_operation.py
  test/unit/objects/test_errorgenpropagation.py
  test/unit/tools/test_errgenproptools.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

first pass
  pygsti/extras/interpygate/core.py
  test/test_packages/objects/test_hessian.py
  test/unit/modelmembers/test_operation.py
  test/unit/objects/test_errorgenpropagation.py
  test/unit/tools/test_errgenproptools.py
Owners: @kevincyoung, @sandialabs/pygsti-gatekeepers, @rileyjmurray

New Superoperator Utilities
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fix some typos and revert the change to print out the loop iteration count when building the prefix table.
  pygsti/layouts/prefixtable.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

add a handful of custom warning classes to make it easier to control error-on-warning in pytest
  pygsti/algorithms/gaugeopt.py
  pygsti/tools/__init__.py
  pygsti/tools/exceptions.py
  pygsti/tools/legacytools.py
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

use custom ForwardSimulatorSuitabilityWarning class in MapForwardSimulator.product
  pygsti/forwardsims/mapforwardsim.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

resolve numpy and scipy warnings
  pygsti/optimize/optimize.py
  pygsti/tools/matrixmod2.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-maintainers

avoid raising unnecessary warnings
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

resolve numpy warning
  test/unit/extras/interpygate/test_construction.py
Owners: @kevincyoung, @sandialabs/pygsti-gatekeepers

remove unused imports and make use of custom MissingDependencyWarning class in subcircuit_selection.py
  pygsti/circuits/subcircuit_selection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

use custom MissingDependencyWarning class in pygsti.extras.interpygate.core.py
  pygsti/extras/interpygate/core.py
Owners: @kevincyoung, @sandialabs/pygsti-gatekeepers

resolve pygsti-internal deprecation warning in io.readers.py::read_dataset
  pygsti/io/readers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

resolve deprecation warning in pygsti.extras.devices.__init__.py
  pygsti/extras/devices/__init__.py
Owners: @sandialabs/pygsti-ibmq, @sandialabs/pygsti-gatekeepers

have test_circuit.py suppress pyGSTiDeprecationWarning when tests involve calling deprecated methods
  test/unit/objects/test_circuit.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

remove invocations of deprecated functions that were not tested for correctness
  test/unit/tools/test_chi2fns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

.github/CODEOWNERS:

## Global owners (default to pyGSTi maintainers) ##
# These will also be owners for everything below
# so they can approve minor PRs without adding
# undue burden on volunteer code owners
*       @sandialabs/pygsti-maintainers @sandialabs/pygsti-gatekeepers


## Drift analysis ##
pygsti/protocols/stability.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/section/drift.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/templates/drift_html_report/ @tjproct @sandialabs/pygsti-gatekeepers

## Forward simulators ##
pygsti/forwardsims @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/forwardsims/termforwardsim* @adhumu @sandialabs/pygsti-gatekeepers

## IBMQ interface ##
pygsti/extras/devices @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
pygsti/extras/ibmq @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers

## Interpygate ##
pygsti/extras/interpygate/ @kevincyoung @sandialabs/pygsti-gatekeepers

## Modelmembers ##
pygsti/modelmembers/ @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/modelmembers/instruments/ @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers

## Modelpack owners ##
pygsti/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers

## Optimizer owners ##
pygsti/objectivefns @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/optimize @rileyjmurray @sandialabs/pygsti-gatekeepers

## RB owners ##
pygsti/algorithms/compilers.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/mirroring.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/rbfit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/protocols/rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtheory.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtools.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

## RPE owners ##
pygsti/extras/rpe @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/models/rpemodel.py @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/protocols/rpe.py @kmrudin @sandialabs/pygsti-gatekeepers

## Reporting owners ##
# Specifically just for workspace plots/tables
pygsti/report/workspace*.py @pcwysoc @sandialabs/pygsti-gatekeepers



## Tutorial owners ##
# In addition to general tutorial owners,
# we will also have specific tutorials be owned
# by topics owners are responsible for above
jupyter_notebooks/ @sandialabs/pygsti-tutorials @sandialabs/pygsti-gatekeepers
jupyter_notebooks/**/*RB-*.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/DriftCharacterization.ipynb @tjproct @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/MirrorCircuitBenchmarks.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/RobustPhaseEstimation.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/IBMQExperiment.ipynb @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/InterpolatedOperators.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/ModelPacks.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/reporting/ @pcwysoc @sandialabs/pygsti-gatekeepers

## Test owners ##
test/ @rileyjmurray @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_drift.py @tjproct @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_interpygate.py @kevincyoung @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpe.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpeobjects.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/objects/test_instruments.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/test_packages/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/test_packages/reportb/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/algorithms/test_randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/interpygate @kevincyoung @sandialabs/pygsti-gatekeepers
test/unit/extras/rb/ @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/rpe/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/objects/test_instrument.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/unit/protocols/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/tools/test_symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
