Repository sandialabs/pyGSTi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @tjproct, @rileyjmurray, @adhumu, @sandialabs/pygsti-ibmq, @kevincyoung, @sandialabs/pygsti-mcm, @kmrudin, @sandialabs/pygsti-rb, @pcwysoc, @sandialabs/pygsti-tutorials

Removed temp files pt 2
  test_packages/temp_test_files/test_StandardGateSetTomography_serialization/badfit_options.json
  test_packages/temp_test_files/test_StandardGateSetTomography_serialization/gaugeopt_suite.json
  test_packages/temp_test_files/test_StandardGateSetTomography_serialization/meta.json
  test_packages/temp_test_files/test_StandardGateSetTomography_serialization/optimizer.json
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

trying out new optimizers feature for AMS
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Add the failing test case.
  test/unit/objects/test_circuit.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Implementation.
  pygsti/circuits/circuit.py
  test/unit/objects/test_circuit.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

small bugfixes in modelselection
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Implementing checkpoints for hessian recalculation plus some bugfixes
  pygsti/algorithms/modelselection.py
  test/unit/algorithms/test_modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

first attempt at hessian recalc
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

removed unused if statement
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fixed some typos.
  pygsti/circuits/circuit.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fix some typos in comments and improve readability.
  pygsti/algorithms/core.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fixed some typos.
  pygsti/protocols/gst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Changes suggested by @nkoskelo in the PR
  test/unit/algorithms/test_core.py
  test/unit/protocols/test_gst.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

documentation for DenseOperator
  pygsti/modelmembers/operations/denseop.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

add the ability to specify custom germs in GSTModelPack.create_gst_experiment_design
  pygsti/modelpacks/_modelpack.py
Owners: @kmrudin, @sandialabs/pygsti-gatekeepers

update matrixtools.eigenvalues and matrixtools.eigendecomposition to allow ndarrays where flags.writeable is False
  pygsti/tools/matrixtools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

fix whitespace
  pygsti/models/model.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

add LinearOperator._kraus_operators function with default implementation
  pygsti/modelmembers/operations/linearop.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

address warning from not specifying default kwarg in np.linalg.lstsq
  pygsti/modelmembers/povms/__init__.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

change Instrument.acton so it no longer requires a TP basis; add superket_trace to optools.py
  pygsti/modelmembers/instruments/instrument.py
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-mcm, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-maintainers

CPTPLND instruments
  pygsti/modelmembers/instruments/__init__.py
  pygsti/modelmembers/instruments/cptpinstrument.py
Owners: @sandialabs/pygsti-mcm, @sandialabs/pygsti-gatekeepers

update Instruments.ipynb advanced example notebook
  jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb
  pygsti/modelmembers/instruments/__init__.py
Owners: @sandialabs/pygsti-mcm, @sandialabs/pygsti-gatekeepers

serialize checkpoint bugfix plus many changes to fast AMS to save memory
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
  test/unit/algorithms/test_modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

bugfix
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

bugfix
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

debug addition
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Check matrix writability before in-place Hermitian projection (resolve #695)
  pygsti/tools/matrixtools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Check matrix writability before in-place Hermitian projection (resolves #695) (#696)
  pygsti/tools/matrixtools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Part way through complete rewrite of ML encoding code
  pygsti/extras/ml/datasets.py
  pygsti/extras/ml/encoding.py
  pygsti/extras/ml/legacy_files/error_rates_model_fitting.py
  pygsti/extras/ml/legacy_files/neuralnets.py
  pygsti/extras/ml/legacy_files/neuralnets_cpu_optimization.py
  pygsti/extras/ml/new_encoding.py
  pygsti/extras/ml/probability_tools.py
  pygsti/extras/ml/readme.md
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Most of the way through complete rewrite of encoding and data processing methods
  pygsti/extras/ml/__init__.py
  pygsti/extras/ml/customlayers.py
  pygsti/extras/ml/legacy.py
  pygsti/extras/ml/new_encoding.py
  pygsti/extras/ml/qpanns.py
  pygsti/extras/ml/tools.py
  pygsti/extras/ml/topology_specific_adj_matrix.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

complete rehaul of fast AMS, hopefully to achieve lower memory usage
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
  test/unit/algorithms/test_modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

First version of re-write that appears to be working, but correct behavior of QPANNs has not yet been verified
  pygsti/extras/ml/__init__.py
  pygsti/extras/ml/customlayers.py
  pygsti/extras/ml/encoding.py
  pygsti/extras/ml/errgentools.py
  pygsti/extras/ml/legacy.py
  pygsti/extras/ml/qpanns.py
  pygsti/extras/ml/snippers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

First draft of rewrite. Basics test for correctness done
  pygsti/extras/ml/encoding.py
  pygsti/extras/ml/errgentools.py
  pygsti/extras/ml/qpanns.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fixed bug in encoder
  pygsti/extras/ml/encoding.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Testing out opposite ordering in snipper
  pygsti/extras/ml/snippers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Going back to the ordering I think is correct
  pygsti/extras/ml/snippers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Testing out opposite ordering in snipper
  pygsti/extras/ml/snippers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Going back to the ordering I think is correct
  pygsti/extras/ml/snippers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Testing out opposite ordering in snipper
  pygsti/extras/ml/snippers.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

checkpoint bugfix
  pygsti/algorithms/modelselection.py
  pygsti/objectivefns/objectivefns.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

eliminate need for copy in confidenceregionfactor.py::ConfidenceRegionFactoryView.compute_grad_f()
  pygsti/protocols/confidenceregionfactory.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

.github/CODEOWNERS:

## Global owners (default to pyGSTi maintainers) ##
# These will also be owners for everything below
# so they can approve minor PRs without adding
# undue burden on volunteer code owners
*       @sandialabs/pygsti-maintainers @sandialabs/pygsti-gatekeepers


## Drift analysis ##
pygsti/protocols/stability.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/section/drift.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/templates/drift_html_report/ @tjproct @sandialabs/pygsti-gatekeepers

## Forward simulators ##
pygsti/forwardsims @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/forwardsims/termforwardsim* @adhumu @sandialabs/pygsti-gatekeepers

## IBMQ interface ##
pygsti/extras/devices @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
pygsti/extras/ibmq @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers

## Interpygate ##
pygsti/extras/interpygate/ @kevincyoung @sandialabs/pygsti-gatekeepers

## Modelmembers ##
pygsti/modelmembers/ @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/modelmembers/instruments/ @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers

## Modelpack owners ##
pygsti/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers

## Optimizer owners ##
pygsti/objectivefns @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/optimize @rileyjmurray @sandialabs/pygsti-gatekeepers

## RB owners ##
pygsti/algorithms/compilers.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/mirroring.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/rbfit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/protocols/rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtheory.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtools.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

## RPE owners ##
pygsti/extras/rpe @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/models/rpemodel.py @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/protocols/rpe.py @kmrudin @sandialabs/pygsti-gatekeepers

## Reporting owners ##
# Specifically just for workspace plots/tables
pygsti/report/workspace*.py @pcwysoc @sandialabs/pygsti-gatekeepers



## Tutorial owners ##
# In addition to general tutorial owners,
# we will also have specific tutorials be owned
# by topics owners are responsible for above
jupyter_notebooks/ @sandialabs/pygsti-tutorials @sandialabs/pygsti-gatekeepers
jupyter_notebooks/**/*RB-*.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/DriftCharacterization.ipynb @tjproct @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/MirrorCircuitBenchmarks.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/RobustPhaseEstimation.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/IBMQExperiment.ipynb @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/InterpolatedOperators.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/ModelPacks.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/reporting/ @pcwysoc @sandialabs/pygsti-gatekeepers

## Test owners ##
test/ @rileyjmurray @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_drift.py @tjproct @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_interpygate.py @kevincyoung @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpe.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpeobjects.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/objects/test_instruments.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/test_packages/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/test_packages/reportb/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/algorithms/test_randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/interpygate @kevincyoung @sandialabs/pygsti-gatekeepers
test/unit/extras/rb/ @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/rpe/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/objects/test_instrument.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/unit/protocols/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/tools/test_symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
