Repository sandialabs/pyGSTi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @tjproct, @rileyjmurray, @adhumu, @sandialabs/pygsti-ibmq, @kevincyoung, @sandialabs/pygsti-mcm, @kmrudin, @sandialabs/pygsti-rb, @pcwysoc, @sandialabs/pygsti-tutorials

account for sign ambiguity in definition of eigenvectors
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

type annotations
  pygsti/algorithms/gaugeopt.py
  pygsti/models/explicitmodel.py
  pygsti/models/model.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

replace repeated instances of hard-coded floating point default values to values based on module-wide or class-wide constants
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

types
  pygsti/algorithms/gaugeopt.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

somehow left this out of the last commit
  pygsti/modelmembers/operations/linearop.py
  pygsti/modelmembers/povms/effect.py
  pygsti/protocols/gst.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-maintainers

added function to construct fogi models from a processor spec
  pygsti/algorithms/modelselection.py
  pygsti/models/explicitmodel.py
  pygsti/models/model.py
  pygsti/models/modelconstruction.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

revised eigenvalue_entanglement_fidelity function
  pygsti/report/reportables.py
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

make optimize.py::optimize(...) more robust if relying on SciPy.
  pygsti/optimize/optimize.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

test for gauge optimization correctness in the presence of instruments
  test/unit/algorithms/test_gaugeopt_correctness.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

bugfix and type annotation
  pygsti/algorithms/gaugeopt.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

use new helper function
  pygsti/models/explicitcalc.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Minor fixes
  dev_notes/formatter.md
  dev_notes/python3.md
  dev_notes/repotools/hooks.md
  dev_notes/repotools/pylint.md
  dev_notes/repotools/test.md
  dev_notes/subpackage_hierarchy.pdf
  docs/markdown/examples/2QGST-CreatingModels.md
  docs/markdown/examples/GOpt-AddingNewOptimizations.md
  docs/markdown/examples/GOpt-NonIdealTargets.md
  docs/markdown/examples/Leakage-automagic.md
  docs/markdown/examples/Leakage-manual.md
  docs/markdown/examples/MCFE-Example.md
  docs/markdown/examples/Reports-LGSTonly.md
  docs/markdown/gst/TimeDependent.md
  docs/markdown/simulation/ForwardSimulationTypes.md
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

remove spurious second `arg = `
  pygsti/modelmembers/operations/linearop.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

input validation and doc changes for DirectSumUnitaryGroup
  pygsti/models/gaugegroup.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Minor change to definition of eigenvalue_fidelity. Detailed docstring motivating the current definition.
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Patch shared memory race condition
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

`lsvec` Shared Memory Race Condition (#674)
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Ensure that gauge optimization incorporates instruments (#672)
  pygsti/algorithms/gaugeopt.py
  pygsti/modelmembers/operations/linearop.py
  pygsti/models/explicitcalc.py
  pygsti/optimize/optimize.py
  test/unit/algorithms/test_gaugeopt_correctness.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

correct citation error
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

correct type annotations
  pygsti/models/gaugegroup.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

have leakage_automagic.ipynb demonstrate ability to identify when a specific gate causes leakage
  jupyter_notebooks/Examples/Leakage-automagic.ipynb
Owners: @sandialabs/pygsti-tutorials, @sandialabs/pygsti-gatekeepers

notebook: reduce GST circuit depth and clear output
  jupyter_notebooks/Examples/Leakage-automagic.ipynb
Owners: @sandialabs/pygsti-tutorials, @sandialabs/pygsti-gatekeepers

steal infrastructure for setting objective function tolerances from another branch
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

make it slightly cheaper to run the example notebook. Make a proper correctness test for leakage GST.
  jupyter_notebooks/Examples/Leakage-automagic.ipynb
  test/unit/tools/test_leakage_gst_pipeline.py
Owners: @sandialabs/pygsti-tutorials, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Revert "replace repeated instances of hard-coded floating point default values to values based on module-wide or class-wide constants"
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Error uncertainties
  pygsti/algorithms/linearizedgst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Update linearizedgst.py
  pygsti/algorithms/linearizedgst.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

actually use string specification of basis rather than insisting on str
  pygsti/models/gaugegroup.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

undo accidental changes to objectivefns.py
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

clarifying comment
  pygsti/tools/leakage.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

started implementing reduced model class
  pygsti/algorithms/modelselection.py
  pygsti/forwardsims/forwardsim.py
  pygsti/models/model.py
  pygsti/models/modelconstruction.py
  pygsti/tools/fogitools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

`lsvec` Shared Memory Race Condition (#674)
  pygsti/objectivefns/objectivefns.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

adjust imports; remove spurrious print statement
  pygsti/modelmembers/states/state.py
  pygsti/tools/leakage.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-maintainers

typo
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Leakage modeling: bugfixes for wildcard error and gauge optimization (#671)
  jupyter_notebooks/Examples/Leakage-automagic.ipynb
  pygsti/modelmembers/modelmember.py
  pygsti/modelmembers/operations/linearop.py
  pygsti/modelmembers/povms/effect.py
  pygsti/modelmembers/states/state.py
  pygsti/models/explicitcalc.py
  pygsti/models/gaugegroup.py
  pygsti/objectivefns/objectivefns.py
  pygsti/protocols/gst.py
  pygsti/tools/leakage.py
  pygsti/tools/matrixtools.py
  pygsti/tools/optools.py
  test/unit/tools/test_leakage_gst_pipeline.py
Owners: @sandialabs/pygsti-tutorials, @sandialabs/pygsti-gatekeepers, @rileyjmurray, @sandialabs/pygsti-maintainers

print statements for testing
  pygsti/algorithms/modelselection.py
  pygsti/forwardsims/distforwardsim.py
  pygsti/models/model.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

reduce repetitions of expensive test
  test/unit/algorithms/test_gaugeopt_correctness.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

add gates_with_instruments helper to gaugeopt.py. Remove uses of ExplicitOpModel._excalc().
  pygsti/algorithms/gaugeopt.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

extra tolerance added to parallel GST
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

remove unreachable code
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

.github/CODEOWNERS:

## Global owners (default to pyGSTi maintainers) ##
# These will also be owners for everything below
# so they can approve minor PRs without adding
# undue burden on volunteer code owners
*       @sandialabs/pygsti-maintainers @sandialabs/pygsti-gatekeepers


## Drift analysis ##
pygsti/protocols/stability.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/section/drift.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/templates/drift_html_report/ @tjproct @sandialabs/pygsti-gatekeepers

## Forward simulators ##
pygsti/forwardsims @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/forwardsims/termforwardsim* @adhumu @sandialabs/pygsti-gatekeepers

## IBMQ interface ##
pygsti/extras/devices @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
pygsti/extras/ibmq @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers

## Interpygate ##
pygsti/extras/interpygate/ @kevincyoung @sandialabs/pygsti-gatekeepers

## Modelmembers ##
pygsti/modelmembers/ @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/modelmembers/instruments/ @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers

## Modelpack owners ##
pygsti/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers

## Optimizer owners ##
pygsti/objectivefns @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/optimize @rileyjmurray @sandialabs/pygsti-gatekeepers

## RB owners ##
pygsti/algorithms/compilers.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/mirroring.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/rbfit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/protocols/rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtheory.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtools.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

## RPE owners ##
pygsti/extras/rpe @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/models/rpemodel.py @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/protocols/rpe.py @kmrudin @sandialabs/pygsti-gatekeepers

## Reporting owners ##
# Specifically just for workspace plots/tables
pygsti/report/workspace*.py @pcwysoc @sandialabs/pygsti-gatekeepers



## Tutorial owners ##
# In addition to general tutorial owners,
# we will also have specific tutorials be owned
# by topics owners are responsible for above
jupyter_notebooks/ @sandialabs/pygsti-tutorials @sandialabs/pygsti-gatekeepers
jupyter_notebooks/**/*RB-*.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/DriftCharacterization.ipynb @tjproct @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/MirrorCircuitBenchmarks.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/RobustPhaseEstimation.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/IBMQExperiment.ipynb @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/InterpolatedOperators.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/ModelPacks.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/reporting/ @pcwysoc @sandialabs/pygsti-gatekeepers

## Test owners ##
test/ @rileyjmurray @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_drift.py @tjproct @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_interpygate.py @kevincyoung @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpe.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpeobjects.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/objects/test_instruments.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/test_packages/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/test_packages/reportb/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/algorithms/test_randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/interpygate @kevincyoung @sandialabs/pygsti-gatekeepers
test/unit/extras/rb/ @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/rpe/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/objects/test_instrument.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/unit/protocols/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/tools/test_symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
