Repository sandialabs/pyGSTi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @tjproct, @rileyjmurray, @adhumu, @sandialabs/pygsti-ibmq, @kevincyoung, @sandialabs/pygsti-mcm, @kmrudin, @sandialabs/pygsti-rb, @pcwysoc, @sandialabs/pygsti-tutorials

.github/CODEOWNERS:

## Global owners (default to pyGSTi maintainers) ##
# These will also be owners for everything below
# so they can approve minor PRs without adding
# undue burden on volunteer code owners
*       @sandialabs/pygsti-maintainers @sandialabs/pygsti-gatekeepers


## Drift analysis ##
pygsti/protocols/stability.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/section/drift.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/templates/drift_html_report/ @tjproct @sandialabs/pygsti-gatekeepers

## Forward simulators ##
pygsti/forwardsims @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/forwardsims/termforwardsim* @adhumu @sandialabs/pygsti-gatekeepers

## IBMQ interface ##
pygsti/extras/devices @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
pygsti/extras/ibmq @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers

## Interpygate ##
pygsti/extras/interpygate/ @kevincyoung @sandialabs/pygsti-gatekeepers

## Modelmembers ##
pygsti/modelmembers/ @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/modelmembers/instruments/ @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers

## Modelpack owners ##
pygsti/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers

## Optimizer owners ##
pygsti/objectivefns @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/optimize @rileyjmurray @sandialabs/pygsti-gatekeepers

## RB owners ##
pygsti/algorithms/compilers.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/mirroring.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/rbfit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/protocols/rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtheory.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtools.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

## RPE owners ##
pygsti/extras/rpe @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/models/rpemodel.py @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/protocols/rpe.py @kmrudin @sandialabs/pygsti-gatekeepers

## Reporting owners ##
# Specifically just for workspace plots/tables
pygsti/report/workspace*.py @pcwysoc @sandialabs/pygsti-gatekeepers



## Tutorial owners ##
# In addition to general tutorial owners,
# we will also have specific tutorials be owned
# by topics owners are responsible for above
jupyter_notebooks/ @sandialabs/pygsti-tutorials @sandialabs/pygsti-gatekeepers
jupyter_notebooks/**/*RB-*.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/DriftCharacterization.ipynb @tjproct @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/MirrorCircuitBenchmarks.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/RobustPhaseEstimation.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/IBMQExperiment.ipynb @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/InterpolatedOperators.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/ModelPacks.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/reporting/ @pcwysoc @sandialabs/pygsti-gatekeepers

## Test owners ##
test/ @rileyjmurray @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_drift.py @tjproct @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_interpygate.py @kevincyoung @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpe.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpeobjects.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/objects/test_instruments.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/test_packages/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/test_packages/reportb/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/algorithms/test_randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/interpygate @kevincyoung @sandialabs/pygsti-gatekeepers
test/unit/extras/rb/ @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/rpe/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/objects/test_instrument.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/unit/protocols/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/tools/test_symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

fixing more gecres aliases
  pygsti/tools/internalgates.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

improved checkpoint to save right after initial GST
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

More changes to have no cython only on linux
  .github/workflows/reuseable-main.yml
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Resolve circular imports
  pygsti/models/fogistore.py
  pygsti/tools/leakage.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fix mpi test
  test/unit/mpi/test_mpi.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Lower max depth for instrument fisher info
  .github/workflows/reuseable-main.yml
  test/unit/tools/test_edesigntools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

Gram matrix bugfix
  pygsti/algorithms/core.py
  pygsti/algorithms/grammatrix.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Update README and CHANGELOG for 0.9.14
  CHANGELOG
  README.md
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

spedup FOGI GST by using sets
  pygsti/models/model.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

checkpoint bugfix
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Switch parameter counts for p-values
  pygsti/algorithms/core.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Patch wildcard for kites
  pygsti/protocols/gst.py
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Add testing for 1d wildcard
  test/unit/protocols/test_gst.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

refactor neuralnets and move helper functions to proper directories
  pygsti/extras/ml/datasets.py
  pygsti/extras/ml/encoding.py
  pygsti/extras/ml/neuralnets.py
  pygsti/extras/ml/tools.py
  pygsti/extras/ml/topology_specific_adj_matrix.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

removed unecessary variable dependence for checkpoints, who cares if H_recompute is the same as the checkpoint used
  pygsti/algorithms/modelselection.py
  pygsti/models/fogistore.py
  pygsti/models/model.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

move outdated files to legacy_files
  pygsti/extras/ml/legacy_files/error_rates_model_fitting.py
  pygsti/extras/ml/legacy_files/neuralnets.py
  pygsti/extras/ml/legacy_files/neuralnets_cpu_optimization.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

rm old files
  pygsti/extras/ml/neuralnets_cpu_bitstring_probability_map.py
  pygsti/extras/ml/neuralnets_cpu_optimization.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

added lookback for graph models
  pygsti/extras/ml/neuralnets.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Removing import of moved legacy files
  pygsti/extras/ml/__init__.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Adds fix to convert pandas CategoricalIndex to a normal Index.
  pygsti/tools/dataframetools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

fixed serialization for models with no fogistore
  pygsti/models/explicitmodel.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Force a minimum width for table cells
  pygsti/report/templates/offline/pygsti_dataviz.css
  pygsti/report/templates/offline/pygsti_plotly_ex.js
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fix performance regressions
  pygsti/report/workspaceplots.py
Owners: @pcwysoc, @sandialabs/pygsti-gatekeepers

Create new branch for development staging
  .github/workflows/bugfix.yml
  .github/workflows/feature-branches.yml
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Reenable tests involving dataframes
  test/unit/extras/ibmq/test_ibmqexperiment.py
  test/unit/protocols/test_protocols.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Detective work on CI
  .github/workflows/bugfix.yml
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Revert detective work
  .github/workflows/bugfix.yml
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Update README and CHANGELOG for 0.9.14.1
  CHANGELOG
  README.md
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Docstring for create_explicit_model
  pygsti/models/modelconstruction.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fixing missing imports
  pygsti/extras/ml/datasets.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fixing failure due to change in ErrorGenPropagator object
  pygsti/extras/ml/tools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Removing a couple of annoying print statements
  pygsti/extras/ml/tools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Removing a couple of annoying print statements -- fixed bug
  pygsti/extras/ml/tools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

make model.copy() more robust
  pygsti/models/model.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

make ExplicitOpModel.randomize_with_unitary parameterization-preserving.
  pygsti/models/explicitmodel.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

changes to ComposedPOVM and ComposedState so the previous commit works
  pygsti/modelmembers/povms/composedpovm.py
  pygsti/modelmembers/states/composedstate.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Attempting to make S error rates postive by squaring them
  pygsti/extras/ml/neuralnets.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

propagate change to DenseState._from_memoized_dict from master branch
  pygsti/modelmembers/states/densestate.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Fixed accidental delete of part of a line
  pygsti/extras/ml/tools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Fixed accidental delete of part of a line, again
  pygsti/extras/ml/tools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers
