Repository sandialabs/pyGSTi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @tjproct, @rileyjmurray, @adhumu, @sandialabs/pygsti-ibmq, @kevincyoung, @sandialabs/pygsti-mcm, @kmrudin, @sandialabs/pygsti-rb, @pcwysoc, @sandialabs/pygsti-tutorials

remove `if True: ...` check in compute_best_gauge_transform
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

add eigenvalues function to matrixtools.py; this accepts assume_hermitian and assume_normal keyword arguments, and selects intelligently among eigvalsh, schur, and eigvals.
  pygsti/tools/matrixtools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

add eigenvalues function to matrixtools; replace most instances of np.linalg.eigvals with this new function
  pygsti/algorithms/contract.py
  pygsti/models/explicitmodel.py
  pygsti/models/qutrit.py
  pygsti/report/reportables.py
  pygsti/report/workspacetables.py
  pygsti/tools/jamiolkowski.py
  pygsti/tools/optools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @pcwysoc

flake8
  pygsti/optimize/wildcardopt.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

fix issue identified by flake8
  pygsti/report/reportables.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

change needed to accomodate switch from _np.matrix to _np.array
  pygsti/models/qutrit.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

remove spurious underscore
  pygsti/optimize/wildcardopt.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Bugfix for retrieve results bug
  pygsti/extras/ibmq/ibmqexperiment.py
Owners: @sandialabs/pygsti-ibmq, @sandialabs/pygsti-gatekeepers

Update README and CHANGELOG for 0.9.14.2
  CHANGELOG
  README.md
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Add implementation of the Zassenhaus formula
  pygsti/tools/errgenproptools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Remove third-order Zassenhaus
  pygsti/tools/errgenproptools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Add unit tests for zassenhaus
  test/unit/tools/test_errgenproptools.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

added fogi_store to all models to prevent serialization errors
  pygsti/algorithms/modelselection.py
  pygsti/models/explicitmodel.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Checkpoint performance updates for alpha comp
  pygsti/tools/errgenproptools.py
  pygsti/tools/fastcalc.pyx
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

added custom spam option to cloud crosstalk models
  pygsti/models/modelconstruction.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

fixed buffer bug that Corey claims was already fixed years ago but somehow disappeared. This was causing issues with multi node GST
  pygsti/optimize/customsolve.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

merged changes from origin/feature-zassenhaus-formula
  jupyter_notebooks/Examples/Leakage-automagic.ipynb
  optional-requirements.txt
  pygsti/algorithms/gaugeopt.py
  pygsti/baseobjs/label.py
  pygsti/circuits/circuit.py
  pygsti/data/dataset.py
  pygsti/modelmembers/modelmember.py
  pygsti/modelmembers/operations/linearop.py
  pygsti/modelmembers/povms/effect.py
  pygsti/modelmembers/states/state.py
  pygsti/models/explicitcalc.py
  pygsti/models/explicitmodel.py
  pygsti/models/gaugegroup.py
  pygsti/models/model.py
  pygsti/objectivefns/objectivefns.py
  pygsti/optimize/optimize.py
  pygsti/protocols/estimate.py
  pygsti/protocols/gst.py
  pygsti/report/report.py
  pygsti/report/reportables.py
  pygsti/report/templates/report_notebook/gauge_variant.txt
  pygsti/report/workspacetables.py
  pygsti/tools/errgenproptools.py
  pygsti/tools/fastcalc.pyx
  pygsti/tools/leakage.py
  pygsti/tools/matrixtools.py
  pygsti/tools/optools.py
  pyproject.toml
  requirements.txt
  rtd-requirements.txt
  test/test_packages/report/test_report.py
  test/test_packages/testutils/__init__.py
  test/test_packages/testutils/notebooks.py
  test/unit/algorithms/test_gaugeopt_correctness.py
  test/unit/modelmembers/test_operation.py
  test/unit/objects/test_dataset.py
  test/unit/tools/test_errgenproptools.py
  test/unit/tools/test_leakage_gst_pipeline.py
Owners: @sandialabs/pygsti-tutorials, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-maintainers, @rileyjmurray, @pcwysoc

Checkpoint more performance updates
  pygsti/tools/errgenproptools.py
  pygsti/tools/fastcalc.pyx
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

fixed checkpoint bug
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
  test/unit/algorithms/test_modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

ams bugfix
  pygsti/algorithms/modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

changed convention for logl in modelselection, began writing tests
  pygsti/algorithms/modelselection.py
  test/unit/algorithms/test_modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

have eigenvalue_avg_gate_infidelity reduce to rescale of output from eigenvalue_entanglement_infidelity. Remove comments
  pygsti/report/reportables.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

minor bugfix;
  pygsti/algorithms/core.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

whitespace
  pygsti/baseobjs/basisconstructors.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

allow dicts of ModelEstimateResults objects as arguments to construct_leakage_report. Add a correctness test for DirectSumGaugeGroup.
  pygsti/tools/leakage.py
  test/unit/algorithms/test_gaugeopt_correctness.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

add is_hermitian and implies_leakage_modeling properties to Basis
  pygsti/baseobjs/basis.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

created FOGI models for modelpacks
  pygsti/modelpacks/serialized_fogi_models/save_fogi_models.ipynb
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XYI_GLND_FOGI.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XYZI_GLND_FOGI.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XY_GLND_FOGI.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XZ_GLND_FOGI.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_ZN_GLND_FOGI.json
  pygsti/tools/fogitools.py
  test/unit/algorithms/test_modelselection.py
Owners: @kmrudin, @sandialabs/pygsti-gatekeepers, @sandialabs/pygsti-maintainers, @rileyjmurray

implemented the ability to obtain a fogi model from 1 qubit modelpacks
  pygsti/modelpacks/_modelpack.py
  pygsti/modelpacks/serialized_fogi_models/generate_fogi_models.ipynb
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XYI_FOGI-GLND.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XYZI_FOGI-GLND.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XY_FOGI-GLND.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_XZ_FOGI-GLND.json
  pygsti/modelpacks/serialized_fogi_models/smq1Q_ZN_FOGI-GLND.json
  pygsti/modelpacks/smq1Q_XY.py
  pygsti/modelpacks/smq1Q_XYI.py
  pygsti/modelpacks/smq1Q_XYZI.py
  pygsti/modelpacks/smq1Q_XZ.py
  pygsti/modelpacks/smq1Q_ZN.py
Owners: @kmrudin, @sandialabs/pygsti-gatekeepers

initial implementation of general leakage analysis. Need to refactor gaugeopt.py to remove need for n_leak kwarg.
  pygsti/algorithms/gaugeopt.py
  pygsti/tools/leakage.py
  pygsti/tools/matrixtools.py
  test/unit/tools/test_leakage_gst_pipeline.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @rileyjmurray

fixed some bugs, and finished implementing AMS tests. All tests passing locally (except mpitest idk why)
  pygsti/algorithms/modelselection.py
  pygsti/modelpacks/_modelpack.py
  pygsti/models/explicitmodel.py
  test/unit/algorithms/test_modelselection.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers, @kmrudin, @rileyjmurray

remove references to n_leak in gaugeopt.py (except for one place to raise an error if needed). All tests pass!
  pygsti/algorithms/gaugeopt.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Checkpoint more errgenprop cythonization
  pygsti/tools/errgenproptools.py
  pygsti/tools/fastcalc.pyx
  pygsti/tools/fasterrgencalc.pyx
  setup.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

docs for general leakage modeling. Rename a couple functions and change order ofarguments.
  pygsti/tools/leakage.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

alpha_pauli updates
  pygsti/tools/errgenproptools.py
  pygsti/tools/fasterrgencalc.pyx
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

small bugfix in two_delta_logl
  pygsti/tools/likelihoodfns.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

changed everything to poisson picture for testing
  pygsti/algorithms/modelselection.py
  pygsti/tools/modelselectiontools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Rework approximate correctors to use bulk methods
  pygsti/tools/errgenproptools.py
Owners: @sandialabs/pygsti-maintainers, @sandialabs/pygsti-gatekeepers

Add some unit tests for bulk methods
  test/unit/tools/test_errgenproptools.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Additional unit tests
  test/unit/tools/test_errgenproptools.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

Minor test fix
  test/unit/tools/test_errgenproptools.py
Owners: @rileyjmurray, @sandialabs/pygsti-gatekeepers

.github/CODEOWNERS:

## Global owners (default to pyGSTi maintainers) ##
# These will also be owners for everything below
# so they can approve minor PRs without adding
# undue burden on volunteer code owners
*       @sandialabs/pygsti-maintainers @sandialabs/pygsti-gatekeepers


## Drift analysis ##
pygsti/protocols/stability.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/section/drift.py @tjproct @sandialabs/pygsti-gatekeepers
pygsti/report/templates/drift_html_report/ @tjproct @sandialabs/pygsti-gatekeepers

## Forward simulators ##
pygsti/forwardsims @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/forwardsims/termforwardsim* @adhumu @sandialabs/pygsti-gatekeepers

## IBMQ interface ##
pygsti/extras/devices @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
pygsti/extras/ibmq @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers

## Interpygate ##
pygsti/extras/interpygate/ @kevincyoung @sandialabs/pygsti-gatekeepers

## Modelmembers ##
pygsti/modelmembers/ @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/modelmembers/instruments/ @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers

## Modelpack owners ##
pygsti/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers

## Optimizer owners ##
pygsti/objectivefns @rileyjmurray @sandialabs/pygsti-gatekeepers
pygsti/optimize @rileyjmurray @sandialabs/pygsti-gatekeepers

## RB owners ##
pygsti/algorithms/compilers.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/mirroring.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/algorithms/rbfit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/protocols/rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtheory.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/rbtools.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
pygsti/tools/symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers

## RPE owners ##
pygsti/extras/rpe @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/models/rpemodel.py @kmrudin @sandialabs/pygsti-gatekeepers
pygsti/protocols/rpe.py @kmrudin @sandialabs/pygsti-gatekeepers

## Reporting owners ##
# Specifically just for workspace plots/tables
pygsti/report/workspace*.py @pcwysoc @sandialabs/pygsti-gatekeepers



## Tutorial owners ##
# In addition to general tutorial owners,
# we will also have specific tutorials be owned
# by topics owners are responsible for above
jupyter_notebooks/ @sandialabs/pygsti-tutorials @sandialabs/pygsti-gatekeepers
jupyter_notebooks/**/*RB-*.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Examples/1QGST-InterpolatedOps.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/DriftCharacterization.ipynb @tjproct @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/MirrorCircuitBenchmarks.ipynb @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/algorithms/RobustPhaseEstimation.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/IBMQExperiment.ipynb @sandialabs/pygsti-ibmq @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/Instruments.ipynb @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/InterpolatedOperators.ipynb @kevincyoung @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/objects/advanced/ModelPacks.ipynb @kmrudin @sandialabs/pygsti-gatekeepers
jupyter_notebooks/Tutorials/reporting/ @pcwysoc @sandialabs/pygsti-gatekeepers

## Test owners ##
test/ @rileyjmurray @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_drift.py @tjproct @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_interpygate.py @kevincyoung @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpe.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/extras/test_rpeobjects.py @kmrudin @sandialabs/pygsti-gatekeepers
test/test_packages/objects/test_instruments.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/test_packages/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/test_packages/reportb/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/algorithms/test_randomcircuit.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/interpygate @kevincyoung @sandialabs/pygsti-gatekeepers
test/unit/extras/rb/ @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/extras/rpe/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/modelpacks/ @kmrudin @sandialabs/pygsti-gatekeepers
test/unit/objects/test_instrument.py @sandialabs/pygsti-mcm @sandialabs/pygsti-gatekeepers
test/unit/protocols/test_rb.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
test/unit/report/ @pcwysoc @sandialabs/pygsti-gatekeepers
test/unit/tools/test_symplectic.py @sandialabs/pygsti-rb @sandialabs/pygsti-gatekeepers
